@import "tailwindcss";
@import "./typography.css";
/* @import "@/assets/fontawesome/css/svg-with-js.css"; */

@custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

:root,
html[data-theme="light"] {
  /* --background: #fdfdfd; */
  --background: #f4f4f4;
  --foreground: #282728;
  /* --accent: #006cac; */
  --accent: #0c84c9;
  /* --muted: #e6e6e6; */
  --muted: #dfdfdf;
  /* --border: #ece9e9; */
  --border: #d6d0d0;
}

html[data-theme="dark"] {
  /* --background: #212737; */
  --background: #1f2637;
  --foreground: #eaedf3;
  /* --accent: #ff6b01; */
  --accent: #0e77e6;
  /* --muted: #343f60bf; */
  --muted: #2673c55b;
  /* --border: #ab4b08; */
  --border: #304051;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--accent);
  --color-muted: var(--muted);
  --color-border: var(--border);
}

@layer base {
  * {
    @apply border-border outline-accent/75;
    scrollbar-width: auto;
    scrollbar-color: var(--color-muted) transparent;
  }
  html {
    @apply overflow-y-scroll scroll-smooth;
  }
  body {
    @apply flex min-h-svh flex-col bg-background font-mono text-foreground selection:bg-accent/75 selection:text-background;
  }
  a,
  button {
    @apply outline-offset-1 outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-dashed;
  }
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
  section,
  footer {
    @apply mx-auto max-w-3xl px-4;
  }
}

.active-nav {
  @apply underline decoration-wavy decoration-2 underline-offset-4;
}
