---
import "vanilla-cookieconsent/dist/cookieconsent.css";
---

<div transition:persist id="cc-container">
  <button type="button" data-cc="show-preferencesModal">
    Show preferences modal
  </button>

  <script>
    import { run } from "vanilla-cookieconsent";
    import { config } from "./CookieConsentConfig";

    run(config);

    // Extend the Window interface to include _htmlClassName
    declare global {
      interface Window {
        _htmlClassName?: string;
      }
    }

    // Important, the plugin adds classes to the html tag,
    // so we need keep track of the className attribute.
    document.addEventListener("astro:before-preparation", event => {
      window._htmlClassName = window.document.documentElement.className;
    });

    document.addEventListener("astro:before-swap", event => {
      event.newDocument.documentElement.className = window._htmlClassName || "";
    });
  </script>
</div>
